.homeButton {
  font-size: 3em;
  border: 0.25em solid black;
  background-color: aquamarine;
  transform: rotate(0deg);

  transition: transform 0.25s ease-in-out;

  &:hover {
    background-color: blue;
    transform: rotate(360deg);
  }

  &:active {
    border: 0.25em solid purple;
    background-color: black;
    color: red;
    transform: rotate(-360deg);
  }
}
